*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    background: #f0e0a1;
    text-decoration: none;
    overflow: hidden;
}

html{
    height: 100vh;
    width: 100vw;
    font-size: 62.5%;
}

body{
    display: flex;
    flex-direction: column;
}

header{
    width: 100vw;
    height: 13vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 2rem;
    border-bottom: 1px solid #e1b362;
}

.title{
    letter-spacing: 1rem;
    color: #da4a40;
    cursor: pointer;
}

nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3.2rem;
    padding: 1rem;
}

nav ul li a{
    color: #da4a40;
    font-size: 2.5rem;
    transition: .5s ease-in-out;
}

nav ul li a:hover{
    border-bottom: 1px solid #da4a40;
}

nav{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3.2rem;
}

main{
    height: 87vh;
    width: 100vw;
    display: flex;
    justify-content: space-around;
}

.right img{
    width: auto;
    height: 80%;
    align-self: center;
    margin-top: 20px;
}

.left{
    padding-top: 5rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.text-principal{
    padding: 50px;
    font-size: 2rem;
}

.text-principal h1{
    font-size: 56px;
    line-height: 60px;
    color: #d97835;
}

.text-secundario{
    font-size: 2rem;
    padding-left: 3.5rem;
    color: #d97835;
}

.text-secundario{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.text-secundario button{
   margin-top: 5rem;
   padding: 10px 30px;
   border-radius: 10px;
   color: #da4a40;
   border-color: #da4a40;
   cursor: pointer;
   transition: .3s ease-in-out;
   font-size: 2rem;
}

.text-secundario button:hover{
    background-color: #da4a40;
    color: #f5efd5;
}

@media only screen and (max-width: 1200px) {
    
    header{
        display: flex;
        flex-direction: column;
    }
    
    main{
        height: 87vh;
        width: 100vw;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .right img{
        display: none;
    }
    .text-principal h1{
        font-size: 7rem;
    }
    .text-secundario p{
        font-weight: 200;
    }
  }